# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
DiscordBot/Illya_chan/illya-key.json
DiscordBot/Illya_chan/main.py
April_Fools/2022/bg.psd
April_Fools/2022/Nekoparaiten.zip
April_Fools/2022/story.psd
DiscordBot/Illya_chan/illya.py
DiscordBot/Illya_chan/keep_alive.py
/AOOP/lab04/target/
/AOOP/lab04/Task1/target/
/AOOP/lab04/Task2/target/
/AOOP/Lab04/target/
/AOOP/lab05/target/
/AOOP/lab06/target/
/AOOP/lab07/target/
